
<div class="row" ng-controller="songListController">
<div class="col-md-5" ng-show="showAddform">
  <h4> Add Songs</h4>
<form  name="songForm" class"horizontal" ng-submit="addSongs(songForm.$valid)">
  <div class="form-group row">
    <label>Song Name</label>
      <input type="text" class="form-control" ng-model="songName" placeholder="Song Name" required>
  </div>
  <div class="form-group row">
    <label>Artist</label>
      <input type="text" class="form-control" ng-model="songArtist" placeholder="Artist" required>
  </div>
  <div class="form-group row">
    <label>Duration</label>
      <input type="text" class="form-control" ng-model="songDuration" placeholder="Please enter in seconds" ng-pattern="/^(0|\-?[1-9][0-9]*)$/" required>
  </div>
  <button type="submit" class="btn btn-default" ng-disabled="songForm.$invalid">Submit</button>
  <button class="btn btn-default" ng-click="resetSongForm()">Reset</button>

</form>
</div>

<div class="col-md-5" ng-show="showEditForm">
  <h4> Edit Songs</h4>
<form  name="editSongForm" class"horizontal" ng-submit="editSong(editSongForm.$valid)">
  <div class="form-group row">
    <label>Song Name</label>
      <input type="text" class="form-control" ng-model="songName" placeholder="Song Name" required>
  </div>
  <div class="form-group row">
    <label>Artist</label>
      <input type="text" class="form-control" ng-model="songArtist" placeholder="Artist" required>
  </div>
  <div class="form-group row">
    <label>Duration</label>
      <input type="text" class="form-control" ng-model="songDuration" placeholder="Please enter in seconds" ng-pattern="/^(0|\-?[1-9][0-9]*)$/" required>
  </div>
  <button type="submit" class="btn btn-default" ng-disabled="editSongForm.$invalid">Submit</button>
  <button class="btn btn-default" ng-click="resetSongForm()">Reset</button>

</form>
</div>
<div class="col-md-12" ng-show="showSongTable">
<form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input id="searchbox" type="text" class="form-control col-md-5" placeholder="Search by name" ng-model="searchSong">
      </div>
    </div>
  </form>
<button type="button" class="btn btn-primary btn-sm" ng-click="showAddSongsForm()">Create Song</button>
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Artist</th>
      <th scope="col">Duration</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="song in songs| filter: searchSong">
      <td>{{$index+1}}</td>
      <td>{{song.songName}}</td>
      <td>{{song.songArtist}}</td>
      <td>{{song.songDuration}}</td>
      <td><button type="button" class="btn btn-outline-danger btn-sm" ng-click = "removeSong(song)">X</button>
        <button type="button" class="btn btn-outline-info btn-sm" ng-click = "showEditSongs(song)">E</button></td>
      <!--<td><a class = "btn btn-danger" ng-click = "removeSong(song)">Delete</a></td>-->
    </tr>
  </tbody>
</table>
</div>
</div>
