
<div ng-controller="playListController">
  <div class="row" ng-show="showTotalList">
  <div class="col-md-5">
  <div class="panel panel-default">
    <div class="row">
      <button class="btn btn-outline-info btn-sm float-left" ng-click="addPlay()"><i class="fa fa-plus"></i>Add Playlist</button>
      <div class="panel-heading"><h4>PlayList Details</h4></div>
    </div>
    <div class="panel-body">
      <div class="list-group">
        <div class="row" ng-repeat = "play in playlist">
          <input class="col-md-8 list-group-item list-group-item-action pull-left" ng-click="showSongsInThePlaylist($index)" ng-model="play.playlistName">
          <button class="col-md-1 btn btn-outline-info btn-sm pull-right" ng-click="deleteChange($index)">x</button>
          <button class="col-md-1 btn btn-outline-info btn-sm" ng-click="editChange($index)"><i class="fa fa-pencil"></i></button>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-7" ng-show="showPlaylist">
  <br>
    <button class="btn btn-outline-info btn-small float-left" ng-click="gotoPage('/songlist')"><i class="fa fa-plus"></i>Add songs to Database</button>
    <button class="btn btn-outline-info btn-small float-left" ng-click="addSongtolist($index)"><i class="fa fa-plus"></i>Add songs to playlist</button>
    <br>
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Artist</th>
      <th scope="col">Duration</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="song in songsAddedtoPlayList">
      <td>{{$index+1}}</td>
      <td>{{song.songName}}</td>
      <td>{{song.songArtist}}</td>
      <td>{{song.songDuration}}</td>
      <td><button type="button" class="btn btn-outline-danger btn-sm" ng-click = "removeSong($index)">X</button></td></tbody>
</table>
</div>
</div>
<div class="col-md-5" ng-show="showAddform">
  <h4> Create Playlist</h4>
<form  name="PlayListForm" class"horizontal" ng-submit="addPlaylist(PlayListForm.$valid)">
  <div class="form-group row">
    <label>Playlist Name</label>
      <input type="text" class="form-control" ng-model="playlistName" placeholder="Playlist Name" required>
  </div>
  <div class="form-group row">
    <label>Description</label>
      <textarea class="form-control" rows="3" ng-model="playlistDescription" placeholder="Playlist Description" minlength="2" required></textarea>
      <span> Minimum 10 characters</span>
  </div>
  <button type="submit" class="btn btn-default" ng-disabled="PlayListForm.$invalid">Submit</button>
  <button class="btn btn-default" ng-click="resetPlaylistForm()">Reset</button>

</form>
</div>
<div class="col-md-5" ng-show="showEditform">
  <h4> Edit Playlist</h4>
<form  name="EditPlayListForm" class"horizontal" ng-submit="editPlayList(EditPlayListForm.$valid)">
  <div class="form-group row">
    <label>Playlist Name</label>
      <input type="text" class="form-control" ng-model="playlistName" placeholder="Playlist Name" required>
  </div>
  <div class="form-group row">
    <label>Description</label>
      <textarea class="form-control" rows="3" ng-model="playlistDescription" placeholder="Playlist Description" minlength="10" required></textarea>
      <span> Minimum 10 characters</span>
  </div>
  <button type="submit" class="btn btn-default" ng-disabled="EditPlayListForm.$invalid">Submit</button>
</form>
</div>
<div class="col-md-12" ng-show = "songDatabase">
<h4>Songs List</h4>
</div>
<div class="row">
  <div class="col-md-12" ng-show = "songDatabase">
<form>
  <div class="form-group col-md-5">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search by name" ng-model="searchSong">
    </div>
  </div>
</form>
<div ng-scrollbars ng-scrollbars-config="config">
    <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Artist</th>
        <th scope="col">Duration</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="song in songs| filter: searchSong">
        <td>{{$index+1}}</td>
        <td>{{song.songName}}</td>
        <td>{{song.songArtist}}</td>
        <td>{{song.songDuration}}</td>
        <td><button type="button" class="btn btn-outline-success btn-sm" ng-click="addSongstoPlaylist($index)"><i class="fa fa-plus"></i></button>

  </tr>
  </tbody>
  </table>
</div>
  </div>
</div>
</div>
